

<h3>Order summary</h3>
<hr class="thick_hr">
{% for item in order_details.product.all %}
    <div class="row mb-4">
        <div class="col">
            <div class="row">
                <div class="col-9 d-flex align-items-center">
                    <div class="img_name">
                        <img class="w-25 img-fluid" src="{{ item.product.main_image.url }}" alt="{{ item.product.title }}" />
                        <h2 class="">{{ item.product.title }} - x{{ item.quantity }}</h2>
                    </div>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <div class="chk_price ml-auto">$ {% widthratio item.product.discount_price 1 item.quantity %}</div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<hr>
<div class="d-flex gr-total">
    <h5>Grand Total</h5>
    <div class="ml-auto h5"> $ {{ order_details.get_total }}</div>
</div>
<hr>
<a href="{% url 'request_refund' %}" class="btn category w-100 py-2">Request for a refund</a>
