{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load i18n widget_tweaks %}

{% block title %}BuyEazy | Register{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-4 mx-auto my-auto text-center">
        <h2>Sign Up</h2>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-lg-4 mx-auto my-auto" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">
        <div class="content-section mt-1 bg-light">
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <p>{{ field.label_tag }}
                        {{ field|attr:"class:form-control"}}
                        {% for error in field.errors %}
                            <small style="color: red; font-weight: 600">{{ error }}</small>
                        {% endfor %}
                    </p>
                {% endfor %}
                <div class="form-group">
                    <button class="btn btn-outline-info log" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="mb-2">
                <small class="text-muted">
                    Have An Account? <a class="ml-2 category" href="{% url 'login' %}">Sign In</a>
                </small>
            </div>
        </div>
    </div>
</div>

{% endblock %}