{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class="list-group" id="dashboard_sidebar">
            <!-- <button class="list-group-item btn btn-outline-info">Dashboard</button> -->
            <button class="list-group-item btn btn-outline-info" id="wish_sidebar_btn">Wishlist</button>
            <button class="list-group-item btn btn-outline-info" id="order_sidebar_btn">Orders</button>
            <button class="list-group-item btn btn-outline-info" id="pass_change_btn">Password Change</button>
            <!-- <a href="{% url 'logout' %}" class="list-group-item text-danger btn btn-outline-info">Logout</a> -->
        </div>
    </div>
    <div class="col-md-9">
        <div class="row" id="wishlist_section">
            {% for product in all_wishlist.first.folder.all %}
                <div class="col-3 mb-3 mb-4">
                    <div class="card text-center" id="each_card">
                        <img class="img-fluid w-75 mx-auto" src="{{ product.main_image.url }}" alt="{{ product.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <div class="d-inline-block">
                                <a href="{% url 'view_product' product.slug %}" class="btn btn-primary">View</a>
                                <button class="btn del_wish_item"><i class="fa fa-trash text-danger"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row" id="orders_section">
            <div class="col-12 mb-4 bg-secondary">
                <div class="table-responsive">
                    <table class="table-bordered table">
                        <thead>
                            <tr>
                                <th>Inv no</th>
                                <th>Item</th>
                                <th>Qty</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in orderitems %}
                            <tr>
                                <td>{{item.invoice_no}}</td>
                                <td>
                                    <p><img src="/media/{{item.image}}" width="80" /></p>
                                    {{item.item}}
                                </td>
                                <td>{{item.qty}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.total}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" id="password_change_section">
            <div class="col-12 mb-4 bg-warning">
                password change
            </div>
        </div>
    </div>
</div>


{% endblock %}