{% extends 'main/base.html' %}
{% block title %}BuyEazy | Shop{% endblock %}
{% load static %}

{% block side_cart %}

<!-- Start Side Menu -->
<div class="cart" data-toggle="inactive">
    <div class="label">
        <i class="fa fa-shopping-cart"></i>
        {% if user.is_authenticated %}
            <span id="cart_update">{{ cart_size }}</span>
        {% else %}
            <span id="cart_update">{{ request.session.cart_data|length }}</span>
        {% endif %}
    </div>

    <div class="overlay"></div>

    <div class="window">
        <div class="title">
            <button type="button" class="close"><i class="fa fa-close"></i></button>
            <h3 class="h3 info">Shopping cart</h3>
        </div>

        <div class="content" id="cart_preview_container">
        </div>

        <div class="checkout container-fluid">
            <div class="row d-flex justify-content-around align-items-center">
                <div class="col-xs-12 col-sm-12">
                    <a class="btn btn-primary" href="{% url 'cart' %}">Go to cart</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End Side Menu -->

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col text-center">
                    <div id="cat_div">
                        <h4 class="mb-3">All products</h4>
                        <hr class="thick_hr">
                    </div>
                </div>
            </div>
            <div class="row" id="product_container">
                {% for product in all_products %}
                    <div class="col-md-4 product_box">
                        <a href="{% url 'view_product' product.slug %}">
                            <div class="content-section text-center">
                                <div class="the_img">
                                    <img class="d-block w-100 img-fluid"
                                        src="{{ product.main_image.url }}" alt="{{ product.title }}">
                                    <hr>
                                </div>
                                <div class="name_amt">
                                    <p class="name">{{ product.title }}</p>
                                    <p class="amt">${{ product.discount_price }} {% if product.real_price %}<del class="text-danger">${{ product.real_price }}</del>{% endif %}</p>
                                </div>
                                <div class="col-10 d-flex shop_utils justify-content-around">
                                    <a><i class="fa fa-heart wishlist_btn {% if product in user.wishlist_owner.folder.all %}active{% endif %}" data-id="{{ product.id }}"></i></a>
                                    <a><i class="fa fa-shopping-cart add_to_cart_btn" 
                                        data-id="{{ product.id }}" data-price="{{ product.discount_price }}" data-title="{{ product.title }}" data-image="{{ product.main_image.url }}"
                                        ></i></a>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <p class="my-4 text-center">
                <button id="loadMore" data-total="{{ total_products }}" class="btn btn-dark btn-sm">Load More 
                    <i class="fa fa-spinner load-more-icon"></i>
                </button>
            </p>
        </div>
        <div class="col-md-3" id="sidebar">
            <div class="search-product">
                <form method="POST" action="{% url 'search' %}">
                    {% csrf_token %}
                    <input name="search" class="form-control" placeholder="Search here..." type="text">
                    <button type="submit"> <i class="fa fa-search"></i> </button>
                </form>
            </div>
            <hr>
            <h3>Categories</h3>
            <hr class="thick_hr">
            <div id="sidebar_filt_but">
                <button class="btn btn-outline-info" id="all_desk">Desktops</button>
                <button class="btn btn-outline-info" id="all_lapt">Laptops</button>
                <button class="btn btn-outline-info" id="all_hybr">Hybrids</button>
                <button class="btn btn-outline-info" id="all_tab">Tablets</button>
            </div>
            <hr>
            <h3 class="my-3">Product filter</h3>
            <!-- <hr class="thick_hr"> -->
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-range"></div>
                </div>
            </div>
            <div class="row slider-labels">
                <div class="col-xs-6 col-md-6 col-lg-6 caption">
                    <strong>Min:</strong> <span id="slider-range-value1"></span>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-6 text-right caption">
                    <strong>Max:</strong> <span id="slider-range-value2"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form id="filter_form" method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="min_value" name="min-value" value="">
                        <input type="hidden" id="max_value" name="max-value" value="">
                        {% for category in all_categories %}
                            <div id="filter_checkboxes" class="form-group my-3">
                                <input type="checkbox" name="category" id="{{ category.title }}" value="{{ category.title }}">
                                <label for="{{ category.title }}">{{ category.title }}</label>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-outline-info my-3">Filter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr class="mb-4">
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3">
            <div class="item text-center">
                <i class="fa fa-phone"></i>
                <h3>24/7 free</h3>
                <p>support</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3">
            <div class="item text-center">
                <i class="fa fa-star"></i>
                <h3>Low price<h3>
                        <p>guarantee</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3">
            <div class="item text-center">
                <i class="fa fa-wrench"></i>
                <h3> Manufacturer’s<h3>
                        <p>warranty</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-6 col-lg-3">
            <div class="item text-center">
                <i class="fa fa-recycle"></i>
                <h3> Full refund<h3>
                        <p>guarantee</p>
            </div>
        </div>
    </div>
    <hr>
</div>
{% endblock %}

