
{% for product in more_products %}
    
    <div class="col-md-4 product_box">
        <a href="{% url 'view_product' product.slug %}">
            <div class="content-section text-center">
                <div class="the_img">
                    <img class="d-block w-100 img-fluid"
                        src="{{ product.main_image.url }}" alt="{{ product.title }}">
                    <hr>
                </div>
                <div class="name_amt">
                    <p class="name">{{ product.title }}</p>
                    <p class="amt">${{ product.price }} {% if product.discount_price %}<del class="text-danger">${{ product.discount_price }}</del>{% endif %}</p>
                </div>
                <div class="col-10 d-flex shop_utils justify-content-around">
                    <a><i class="fa fa-heart wishlist_btn {% if product in user.wishlist_owner.folder.all %}active{% endif %}" data-id="{{ product.id }}"></i></a>
                    <a><i class="fa fa-shopping-cart add_to_cart_btn {% if product.id|slugify in request.session.cart_data %}active{% endif %}" 
                        data-id="{{ product.id }}" data-price="{{ product.price }}" data-title="{{ product.title }}" data-image="{{ product.main_image.url }}"></i></a>
                </div>
            </div>
        </a>
    </div>

{% endfor %}
